@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0d8;
  background: radial-gradient(
    circle,
    rgb(212, 206, 190) 0%,
    rgba(212, 204, 157, 0.795) 100%
  );
  font-family: "Nunito", sans-serif;
  font-size: 1.7em;
  font-weight: 500;
}

/*free positioning within parent container */
.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  border: 2px dashed #1a3f1d;
  background-color: #e6e4e1;
  padding: 40px 90px;
  border-radius: 10%;
}

.game-title {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: rgb(206, 199, 191);
  text-shadow: 4px 4px #3d23025d; /*black backstroke text */
  -webkit-text-stroke: 1px black;
}
/*Play Button Section */
#PlayBtn {
  background: #4b2f0a;
  color: white;
  display: grid;
  margin: auto;
  align-content: center;
  padding: 10px 20px;
  font-family: "Coming Soon", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 7.5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#PlayBtn:hover {
  background-color: #352209;
  transform: scale(1.1);
}

/*Main Container*/
.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  border: 2px dashed #5c4831;
  background-color: #f3ece1;
  padding: 50px 50px;
  border-radius: 10%;
  max-width: max-content;
  width: 100%;
}

.main-container.hide {
  opacity: 0;
  pointer-events: none;
}

.main-prompt {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
  text-align: center;
  font-family: "Coming Soon", sans-serif;
}

/*Player Container*/
.char-options {
  display: flex;
  width: 100%; /*100% width to span full main container*/
}

.char-options button {
  width: 100%;
  margin: 15px;
  background-color: #4b2f0a;
  color: #fff !important;
  align-content: center;
  padding: 10px 20px;
  font-family: "Coming Soon", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/*Player X Hover*/
.char-options .pl-X:hover {
  background-color: #ceb580;
  transform: scale(0.95);
}

/*Player O Hover*/
.char-options .pl-O:hover {
  background-color: #ffc248;
  transform: scale(0.95);
}

/*Second Container*/
.sec-container {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.sec-container.show {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease;
  border: 2px dashed #5c4b31;
  background-color: #f3ece1;
  padding: 50px 90px;
  border-radius: 10%;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/*Game Board*/
.game-board {
  padding: 7px;
  border-radius: 5px;
  background: white;
  border: 1px solid #c7c7c79f;
}

/*Player Turn*/
.player-turn {
  width: 100%;
  display: flex;
  position: relative; /*relative positioning to second container*/
  justify-content: space-between;
}
/*Player Turn Span*/
.player-turn span {
  position: relative;
  z-index: 2;
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
/*First Element of Player Span*/
.player-turn.active span:first-child {
  color: #fff !important;
}

/*Last Element of Player Span*/
.player-turn.active span:last-child {
  color: aliceblue !important;
}

.player-turn span:first-child {
  color: white;
}

/*Slider Section*/
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #43cfcf;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.player-turn.active .slider {
  left: 50%;
}

.player-turn.active span:first-child {
  color: #56baed;
}

.player-turn.active span:nth-child(2) {
  color: #fff;
}

.player-turn.active .slider {
  left: 50%;
}

/*Grid Area */
.grid-area {
  margin-top: 20px;
}

.grid-area section {
  display: flex;
  margin-bottom: 1px;
}

/*Individual Grid Span*/
.grid-area section span {
  display: block;
  height: 90px;
  width: 90px;
  margin: 2px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  border-radius: 5px;
  background: white;
  border: 1px solid #c7c7c79f;
  font-family: "Coming Soon", sans-serif;
}
/*Game Results*/
.game-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  border: 3px double #5e4516;
  background-color: #f3eee6;
  padding: 50px 90px;
  border-radius: 10%;
  opacity: 0;
  pointer-events: none;
}

.game-result .winner-name {
  font-size: 1.7em;
  font-family: "Coming Soon", sans-serif;
  font-weight: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.game-result .winner-name p {
  font-weight: 600;
  margin: 0 5px;
}

.game-result button {
  background: #e64141;
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px 20px;
  font-family: "Coming Soon", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 50%;
  margin-top: 25px;
}

.game-result button:hover {
  background: #fc7e7e;
  color: black;
  transform: scale(1.1);
}

.game-result.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(0.9);
}
.winName {
  font-family: "Coming Soon", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 4px 4px #3d23025d;
  -webkit-text-stroke: 0.1px #fff8f8;
}

/*Player Info Section*/
.sec-content {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
}

.sec-content.show {
  font-family: "Coming Soon", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;

  transition: all 0.3s ease;
  border: 2px dashed #5c4831;
  background-color: #f3ece1;
  padding: 50px 90px;
  border-radius: 10%;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.sec-title {
  font-size: 1em;
  font-weight: 500;
  margin: 8px 0px;
  text-align: center;
  font-family: "Coming Soon", sans-serif;
}

/*Player Info Input*/
.sec-content input {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "Caveat Brush", cursive;
}

/*Player Info Placeholder*/
.sec-content input::placeholder {
  width: 100%;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 0.7em;
  font-weight: 500;
}

/*Start Button Section*/
.sec-content button {
  background-color: #bec2c0;
  color: #fff !important;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sec-content button:hover {
  background-color: #6aebaa;
  transform: scale(1.1);
}
